:root {
  --primary-color: #59405c;
  --secondary-color: #4b5d67;
  --third-color: #87556f;
  --background-color: #322f3d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  background-color: var(--background-color);
}

h1,
h2,
h3,
p {
  margin: 0;
  color: #fff;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

label {
  color: #fff;
}

li {
  color: #fff;
  list-style: none;
}

.about-row {
  background-color: var(--secondary-color);
  padding: 50px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  border: 1px solid #fff;
}

.primary-link:hover {
  color: var(--third-color);
  background-color: #fff;
}
.secondary-link:hover {
  color: var(--third-color);
  background-color: #fff;
}

.social-icons a {
  font-size: 30px;
  text-align: center;
  color: var(--third-color);
}
.social-icons a:hover {
  color: #fff;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-column {
  text-align: center;
}

.email-link {
  color: var(--third-color);
  text-decoration: none;
}

.email-link:hover {
  color: #fff;
}

.profile-img {
  min-width: 100px;
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
}

.featured-content {
  background-color: var(--secondary-color);
}

.featured-content h2 {
  color: var(--background-color);
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.basic-link {
  text-decoration: none;
  color: var(--third-color);
}

.basic-link:hover {
  color: var(--primary-color);
}

.li-img {
  max-width: 200px;
}

@media (min-width: 768px) {
  .hero {
    padding: 50px 100px;
  }
  .featured-content {
    padding: 60px 100px;
  }
  .about-hero {
    justify-content: center;
  }
} ;
